:root {
  --grey: #eee;
  --itemColor: #eeeeeee0;
  --buttonColor: linear-gradient(#ffffff, #a1a1a173);
  --darkBorderColor: #000000;
  --borderColor: #a1a1a150;
  --lightBorderColor: #e1e1e150;
  --scrollColor: radial-gradient(#eee, #a1a1a1);
  --scrollColor2: radial-gradient(#e1e1e1, #a1a1a1);
  --background: linear-gradient(#a1a1a150, #ffffff40, #a1a1a150);
  --shadowColor: rgba(0, 0, 0, 0.3);
  --lightShadowColor: rgba(93, 0, 0, 0.52);
  --textBoxColor: #ffffffff;
  --backdropColor: #6e6e6e;
  --negativeBackground: #e81542;
  --warningBackground: #f1eb4d;
  --positiveBackground: #00ff15bb;
  --selected: linear-gradient(#0586ad, #0586ad);
  --lightSelected: #41a0ff7b;
  --headerColor: #00000015;
  --bodyColor: #00000080;
  --lightBodyColor: #ffffffe0;
  --darkTextColor: #000000ff;
  --textColor: #ffffff;
  --textGreyColor: #e1e1e1;
  --warningText: #f1eb4d;
  --redText: #e81542;
  --purpleButton: linear-gradient(#e7b0f8, #ad51c9);
  --redButton: linear-gradient(#f5c1c1, #ff0000b4);
  --greenButton: linear-gradient(#affdc3, #00ff15bb);
  --blueButton: linear-gradient(#91cfff, #3091ffbb);
}

/*********************************************************************************************************************************************************************************/
/*  Generic
/*********************************************************************************************************************************************************************************/
.box {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--borderColor);
}

.instructionText {
  font-size: 12px;
  text-align: center;
  font-style: italic;
}

.boldText {
  font-weight: bold;
  text-align: center;
  padding-right: 5px;
}

.itemTitle {
  padding-right: 5px;
  font-style: italic;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.genericHeader {
  font-size: 24px;
}
.genericSubHeader {
  font-size: 16px;
  font-style: italic;
}

.squareButton {
  width: 26px;
  height: 26px;
  background-image: var(--buttonColor);
  border: 1px solid var(--borderColor);
  color: var(--darkTextColor);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--backdropColor);
  min-width: 500px;
}

.justifyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.justifyLeft {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
}

.justifyTop {
  display: flex;
  justify-content: top;
  align-items: left;
  flex-wrap: wrap;
}

.textBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--itemColor);
  backdrop-filter: blur(16px);
  color: var(--darkTextColor);
  padding: 10px 5px 25px 10px;
}

.textHeader {
  color: var(--darkTextColor);
  width: 100%;
  font-size: 24px;
}

.standardText {
  color: var(--darkTextColor);
  font-size: 16px;
}

/********************************************************************************************************************************************************************************/
/*  Scroll Bar
/*********************************************************************************************************************************************************************************/

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--shadowColor);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollColor);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollColor2);
}

/*********************************************************************************************************************************************************************************/
/*  Tool bar
/*********************************************************************************************************************************************************************************/

.toolBarContainer {
  background-color: var(--bodyColor);
  backdrop-filter: blur(8px);
  color: var(--textColor);
  height: 100vh;
}

.toolbarHeader {
  height: 100px;
  width: 100%;
  color: var(--textColor);
  font-size: 32px;
  padding:5px;
  text-align: center;
  border-bottom: 1px solid var(--borderColor);
}

.toolbarFooter {
  height: 50px;
  width: 100%;
  color: var(--textColor);
  font-size: 12px;
  padding:5px;
  text-align: center;
  border-top: 1px solid var(--borderColor);
}

.toolbarFooterSelected {
  @extend .toolbarFooter;
  background-image: var(--selected)
}

.toolBarItemContainer {
  padding-top: 15px;
  height: calc(100vh - 150px)
}

.leftToolItem {
  width:50px;
  padding: 5px;
  background-color: var(--bodyColor);
}

.baseToolItem {
  @extend .justifyLeft;
  width: 90%;
  user-select: none;
  border: 1px solid var(--borderColor);
}

.baseToolItemSelected {
  @extend .baseToolItem;
  background-image: var(--selected);
  border: 0px solid var(--borderColor);
}


